:root {
  --font-family-main: 'Poppins', sans-serif;

  --font-size-m: 14px;
  --line-height-m: 20px;
  --font-m: var(--font-size-m) / var(--line-height-m) var(--font-family-main);

  --font-size-l: 18px;
  --line-height-l: 24px;
  --font-l: var(--font-size-l) / var(--line-height-l) var(--font-family-main);

  --font-size-xl: 22px;
  --line-height-xl: 28px;
  --font-xl: var(--font-size-xl) / var(--line-height-xl) var(--font-family-main);

  --btn-high-width: 300px;
  --btn-high-height: 40px;


  --bg-primary: #121212;
  --bg-secondary: #fff;

  --color-primary: #fff;
  --color-secondary: #121212;
  --color-error: #e65840;

  --bg-input-primary: #fff;
  --color-input: #121212;

  --btn-bg-primary: #5252ea;
  --btn-color-primary: #fff;
}
